$bodyBack: #42474C;
$maskBack: rgba(0, 0, 0, .35);
$scrollColor: rgba(255, 255, 255, .1);
$scrollWrapperColor: rgba(255, 255, 255, .1);
$searchColor: rgba(255, 255, 255, .07);
$searchBtnHoverColor: rgba(255, 255, 255, .1);
$textColor: rgba(225, 225, 225, .8);
$icon: 'http://7xrkxs.com1.z0.glb.clouddn.com/music/icon_sprite.png';