$textColor: rgba(225, 225, 225, .8);
$progressColor: rgba(225, 225, 225, .2);
$currentProgressColor: rgba(225, 225, 225, .7);
$volumeColor: rgba(225, 225, 225, .1);
$currentVolumeColor: rgba(225, 225, 225, .7);
$btnColor: rgba(225, 225, 225, .9);
$icon: 'http://7xrkxs.com1.z0.glb.clouddn.com/music/player.png';